@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-family-sans: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

:root {
  font-family: var(--font-family-sans);
}

body {
  font-family: var(--font-family-sans);
}
